<div id="gswap-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="list-inline text-center footer-content">
					<li>
						Gswap &copy; 2016
					</li>
					<li>
						<a><%= link_to "Terms", pages_terms_path %></a>
					</li>
					<li>
						<a><%= link_to "Privacy", pages_privacy_path%></a>
					</li>
					<li>
						<a><%= link_to "Rules", pages_rules_path%></a>
					</li>										
				</ul>
		</div>
	</div>
</div>